node-red/flows/compare_two_temperatures.json
[{"id":"097ea9b2cd0d87e2","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"b4455f1e1de19825","type":"junction","z":"097ea9b2cd0d87e2","x":340,"y":100,"wires":[["5c09d5573523ab9e","b9a72d8792a891be"]]},{"id":"5c09d5573523ab9e","type":"zigbee2mqtt-get","z":"097ea9b2cd0d87e2","name":"other temperature","server":"4ec1da88.92f82c","friendly_name":"temp7 (WSDCGQ11LM)","device_id":"0x00158d000549b189","state":"temperature","enableMultiple":false,"x":470,"y":80,"wires":[["aa19f770893e652a"]]},{"id":"b9a72d8792a891be","type":"zigbee2mqtt-get","z":"097ea9b2cd0d87e2","name":"outside temp","server":"4ec1da88.92f82c","friendly_name":"temp11 (WSD500A)","device_id":"0xa4c138ebeceffa93","state":"temperature","enableMultiple":false,"x":450,"y":140,"wires":[["ca3f2f79bebd1e4d"]]},{"id":"aa19f770893e652a","type":"join","z":"097ea9b2cd0d87e2","name":"<other>|<outside>","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"|","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790,"y":80,"wires":[["e9337c1042bde86f"]]},{"id":"e9337c1042bde86f","type":"function","z":"097ea9b2cd0d87e2","name":"<other> - <outside>","func":"var temps = msg.payload.split('|');\nvar diff = Math.round(temps[0] - temps[1]);\nnode.status({text:diff})\nmsg.payload = diff;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":80,"wires":[["63cfd89d0b85c5aa"]]},{"id":"63cfd89d0b85c5aa","type":"switch","z":"097ea9b2cd0d87e2","name":"> 3","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"3","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":140,"wires":[["db5ec31758c1d34c"],[]]},{"id":"db5ec31758c1d34c","type":"template","z":"097ea9b2cd0d87e2","name":"X degrees warmer then outside","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperature outside is {{payload}} degrees warmer then outside","output":"str","x":1010,"y":140,"wires":[["6e353c535b1b1a27"]]},{"id":"ca3f2f79bebd1e4d","type":"trigger","z":"097ea9b2cd0d87e2","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":600,"y":140,"wires":[["aa19f770893e652a"]]},{"id":"0d662c05a474c82c","type":"inject","z":"097ea9b2cd0d87e2","name":"16-21h each 30 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 16-20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":100,"wires":[["b4455f1e1de19825"]]},{"id":"6e353c535b1b1a27","type":"debug","z":"097ea9b2cd0d87e2","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":140,"wires":[]},{"id":"4ec1da88.92f82c","type":"zigbee2mqtt-server","name":"mosquitto","host":"mosquitto","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]