node-red/flows/diff_in_time.json
[{"id":"ae8f86ceea223b77","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"4317b3866efd2cce","type":"delay","z":"ae8f86ceea223b77","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":100,"wires":[["043e67bc133a24cc","9b5bf10d3ac31bf1"]]},{"id":"043e67bc133a24cc","type":"join","z":"ae8f86ceea223b77","name":"join_two_values","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"|","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":330,"y":180,"wires":[["dd24dd8e10f23ce5"]]},{"id":"dd24dd8e10f23ce5","type":"function","z":"ae8f86ceea223b77","name":"calculate diff","func":"var temps = msg.payload.split('|');\nvar diff = Math.round(temps[1] - temps[0]);\nnode.status({text:diff})\nmsg.payload = diff;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":180,"wires":[["ee5ebad0f1e57cac"]]},{"id":"ee5ebad0f1e57cac","type":"switch","z":"ae8f86ceea223b77","name":"> 10","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":180,"wires":[["ae1a4dad426c69f9"]]},{"id":"9b5bf10d3ac31bf1","type":"zigbee2mqtt-get","z":"ae8f86ceea223b77","name":"temp1","server":"4ec1da88.92f82c","friendly_name":"temp1 (WSDCGQ11LM)","device_id":"0x00158d000465b73e","state":"temperature","enableMultiple":false,"x":130,"y":180,"wires":[["043e67bc133a24cc"]]},{"id":"ae1a4dad426c69f9","type":"debug","z":"ae8f86ceea223b77","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"91918a99ed0a946e","type":"comment","z":"ae8f86ceea223b77","name":"Flow by vdbrink.github.io - calculate diff in time","info":"","x":190,"y":40,"wires":[]},{"id":"d701ea84dbbca034","type":"change","z":"ae8f86ceea223b77","name":"temperature field","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":100,"wires":[["4317b3866efd2cce"]]},{"id":"5891efbcebd76d53","type":"mqtt in","z":"ae8f86ceea223b77","name":"","topic":"zigbee2mqtt/temp1","qos":"0","datatype":"json","broker":"7527d055.ed7e2","nl":false,"rap":false,"inputs":0,"x":110,"y":100,"wires":[["d701ea84dbbca034"]]},{"id":"4ec1da88.92f82c","type":"zigbee2mqtt-server","name":"mosquitto","host":"mosquitto","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"7527d055.ed7e2","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","tls":"bbaa4676.58e4c8","clientid":"node-red-client","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":false,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"bbaa4676.58e4c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false}]