node-red/flows/node-red_flow_vdbrink_pricewatch_bol-com.json
[{"id":"56dab805b3c103ed","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"8ce4dba273861c72","type":"inject","z":"56dab805b3c103ed","name":"12:00 daily","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["fb72dcea3add5492"]]},{"id":"330f29f285affea3","type":"debug","z":"56dab805b3c103ed","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":80,"wires":[]},{"id":"0abac7c7efb52ced","type":"comment","z":"56dab805b3c103ed","name":"Bol.com - Robijn wasmiddel wit - vdbrink.github.io","info":"","x":250,"y":40,"wires":[]},{"id":"fb72dcea3add5492","type":"http request","z":"56dab805b3c103ed","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.bol.com/nl/nl/p/robijn-stralend-wit-vloeibaar-wasmiddel-6-x-20-wasbeurten-voordeelverpakking/9300000041537841/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":80,"wires":[["81bd792f43a30fff"]]},{"id":"81bd792f43a30fff","type":"html","z":"56dab805b3c103ed","name":"","property":"payload","outproperty":"payload","tag":".buy-block .promo-price","ret":"html","as":"single","x":510,"y":80,"wires":[["c2247b96a4611bd2"]]},{"id":"c2247b96a4611bd2","type":"change","z":"56dab805b3c103ed","name":"strip price","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.$split('\\n')[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["47b0159cb7f5b39e"]]},{"id":"47b0159cb7f5b39e","type":"switch","z":"56dab805b3c103ed","name":"< 33,-","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"33","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":80,"wires":[["44acf435e8727fa2"]]},{"id":"44acf435e8727fa2","type":"template","z":"56dab805b3c103ed","name":"Wasmiddel wit in de aanbieding!","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"Wasmiddel wit in de aanbieding! {{payload}}\nhttps://www.bol.com/nl/nl/p/robijn-stralend-wit-vloeibaar-wasmiddel-6-x-20-wasbeurten-voordeelverpakking/9300000041537841/","output":"str","x":1030,"y":80,"wires":[["330f29f285affea3"]]}]