node-red/flows/node-red_flow_vdbrink_pricewatch_amazon-nl.json
[{"id":"56dab805b3c103ed","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"8ce4dba273861c72","type":"inject","z":"56dab805b3c103ed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["392fddc9e7eeb075"]]},{"id":"392fddc9e7eeb075","type":"http request","z":"56dab805b3c103ed","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.amazon.nl/dp/B09FJ7LWX4","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":80,"wires":[["4a67ab4c6d95aab6"]]},{"id":"4a67ab4c6d95aab6","type":"html","z":"56dab805b3c103ed","name":"price","property":"payload","outproperty":"payload","tag":"#corePrice_feature_div > div > div > span.a-price.aok-align-center > span:nth-child(2) > span.a-price-whole","ret":"text","as":"single","x":450,"y":80,"wires":[["0fa10cc6e2e2c9e4"]]},{"id":"18f105d3e51c55b0","type":"template","z":"56dab805b3c103ed","name":"Anker speaker","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"Anker speaker {{payload}}\nhttps://www.amazon.nl/dp/B09FJ7LWX4","output":"str","x":860,"y":80,"wires":[["330f29f285affea3"]]},{"id":"b94cb999ef3e9ccb","type":"switch","z":"56dab805b3c103ed","name":"< 100","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":80,"wires":[["18f105d3e51c55b0"]]},{"id":"0fa10cc6e2e2c9e4","type":"change","z":"56dab805b3c103ed","name":"strip price","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload.$split(',')[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["b94cb999ef3e9ccb"]]},{"id":"330f29f285affea3","type":"debug","z":"56dab805b3c103ed","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":80,"wires":[]},{"id":"0abac7c7efb52ced","type":"comment","z":"56dab805b3c103ed","name":"Amazon.nl - Pricewatch Ankerspeaker - vdbrink.github.io","info":"","x":260,"y":40,"wires":[]}]