node-red/flows/node-red_flow_vdbrink_pricewatch_kruidvat-nl.json
[{"id":"56dab805b3c103ed","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"8ce4dba273861c72","type":"inject","z":"56dab805b3c103ed","name":"12:00 daily","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["f8dc211660307d4b"]]},{"id":"0abac7c7efb52ced","type":"comment","z":"56dab805b3c103ed","name":"Kruidvat.nl - Wasmiddel - vdbrink.github.io","info":"","x":220,"y":40,"wires":[]},{"id":"242d1dcc8c4ad234","type":"debug","z":"56dab805b3c103ed","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":80,"wires":[]},{"id":"f8dc211660307d4b","type":"http request","z":"56dab805b3c103ed","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.kruidvat.nl/robijn-stralend-wit-wasmiddel/p/5603333","tls":"bbaa4676.58e4c8","persist":true,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":80,"wires":[["a3b0da93f389c8e2"]]},{"id":"3df53c465eda3e71","type":"change","z":"56dab805b3c103ed","name":"strip price","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[["92efa0fce7b2d228"]]},{"id":"92efa0fce7b2d228","type":"switch","z":"56dab805b3c103ed","name":"=< 12,-","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"12","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":80,"wires":[["9e669707acfef369"]]},{"id":"9e669707acfef369","type":"template","z":"56dab805b3c103ed","name":"Robijn wit","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"Robijn wit 2=12 {{payload}},- \nhttps://www.kruidvat.nl/robijn-stralend-wit-wasmiddel/p/5603333","output":"str","x":1040,"y":80,"wires":[["242d1dcc8c4ad234"]]},{"id":"a3b0da93f389c8e2","type":"html","z":"56dab805b3c103ed","name":"","property":"payload","outproperty":"payload","tag":".pricebadge__new-price-decimal","ret":"text","as":"single","x":540,"y":80,"wires":[["3df53c465eda3e71"]]},{"id":"bbaa4676.58e4c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false}]