node-red/flows/vdbrink_ha_full_moon.json
[{"id":"a53024c24cc27d45","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"3dcc11d7fc57c942","type":"debug","z":"a53024c24cc27d45","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"624841c29d1a8ea6","type":"server-state-changed","z":"a53024c24cc27d45","name":"","server":"969e9e50.88897","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.moon","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"full_moon","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":100,"wires":[["90dff390c3f45ae6"],[]]},{"id":"90dff390c3f45ae6","type":"template","z":"a53024c24cc27d45","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Het is volle maan","output":"str","x":400,"y":100,"wires":[["3dcc11d7fc57c942"]]},{"id":"587f5fa0566a7d1e","type":"comment","z":"a53024c24cc27d45","name":"Full moon - vdbrink.github.io","info":"","x":160,"y":60,"wires":[]},{"id":"969e9e50.88897","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]