node-red/flows/vdbrink_pricewatch.json
[{"id":"a53024c24cc27d45","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"68c9dcd5a1a5d05b","type":"http request","z":"a53024c24cc27d45","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.bol.com/nl/nl/prijsoverzicht/allux-brievenbus-600-zwart/9200000015349382/?filter=new&sort=price&sortOrder=asc","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":370,"y":120,"wires":[["d825d225511858fe"]]},{"id":"d825d225511858fe","type":"html","z":"a53024c24cc27d45","name":"","property":"payload","outproperty":"payload","tag":".product-prices__bol-price","ret":"html","as":"single","x":570,"y":120,"wires":[["719e6ff1a28f6bf5"]]},{"id":"719e6ff1a28f6bf5","type":"change","z":"a53024c24cc27d45","name":"strip prijs","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number((payload[0].$split(',')[0]))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["13262f23849f6ea3"]]},{"id":"13262f23849f6ea3","type":"switch","z":"a53024c24cc27d45","name":"< 210,-","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"210","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":120,"wires":[["b986940f3d7596cf"]]},{"id":"b986940f3d7596cf","type":"template","z":"a53024c24cc27d45","name":"De postbox is in de aanbieding!","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"De postbox is in de aanbieding! {{payload}}\nhttps://www.bol.com/nl/nl/prijsoverzicht/allux-brievenbus-600-zwart/9200000015349382/?filter=new&sort=price&sortOrder=asc","output":"str","x":1130,"y":120,"wires":[["d71205045bde95e8"]]},{"id":"d71205045bde95e8","type":"delay","z":"a53024c24cc27d45","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1380,"y":120,"wires":[["3dcc11d7fc57c942"]]},{"id":"3a712148ef04404a","type":"inject","z":"a53024c24cc27d45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["68c9dcd5a1a5d05b"]]},{"id":"3dcc11d7fc57c942","type":"debug","z":"a53024c24cc27d45","name":"debug 68","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1580,"y":120,"wires":[]}]