esphome/orcon_files/node-red_flow.json
[{"id":"ae0292ff.726de","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2c8d667f.6c704a","type":"mqtt in","z":"ae0292ff.726de","name":"","topic":"zigbee2mqtt/orcon_power_socket","qos":"0","datatype":"json","broker":"7527d055.ed7e2","nl":false,"rap":false,"x":150,"y":100,"wires":[["864a8a11.262d28"]]},{"id":"663ccf29.5ff93","type":"comment","z":"ae0292ff.726de","name":"Orcon mode (vd Brink)","info":"","x":120,"y":40,"wires":[]},{"id":"5e3377f1.b91c28","type":"change","z":"ae0292ff.726de","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":80,"wires":[["cb7d964d.828df8"]]},{"id":"a4dc8170.361aa","type":"change","z":"ae0292ff.726de","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":113,"wires":[["cb7d964d.828df8"]]},{"id":"2ac077a1.353848","type":"change","z":"ae0292ff.726de","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":147,"wires":[["cb7d964d.828df8"]]},{"id":"864a8a11.262d28","type":"switch","z":"ae0292ff.726de","name":"Power","property":"payload.power","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"btwn","v":"1","vt":"num","v2":"7","v2t":"num"},{"t":"btwn","v":"8","vt":"num","v2":"12","v2t":"num"},{"t":"gt","v":"12","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":100,"wires":[["bcd24820.f4f598"],["5e3377f1.b91c28"],["a4dc8170.361aa"],["2ac077a1.353848"]]},{"id":"bcd24820.f4f598","type":"change","z":"ae0292ff.726de","name":"auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":47,"wires":[["cb7d964d.828df8"]]},{"id":"8a5f88ee.6f02a8","type":"ha-api","z":"ae0292ff.726de","name":"set mode x","server":"969e9e50.88897","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"states/input_boolean.orcon_mode_{{payload}}","data":"{\"state\":\"on\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":1490,"y":100,"wires":[[]]},{"id":"85f7e94c.3eff98","type":"ha-api","z":"ae0292ff.726de","name":"reset mode 1","server":"969e9e50.88897","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"states/input_boolean.orcon_mode_1","data":"{\"state\":\"off\"}","dataType":"json","responseType":"json","outputProperties":[],"x":1016,"y":100,"wires":[["b3784579.ecce08"]]},{"id":"b3784579.ecce08","type":"ha-api","z":"ae0292ff.726de","name":"reset mode 2","server":"969e9e50.88897","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"states/input_boolean.orcon_mode_2","data":"{\"state\":\"off\"}","dataType":"json","responseType":"json","outputProperties":[],"x":1174,"y":100,"wires":[["94223145.c6ea"]]},{"id":"94223145.c6ea","type":"ha-api","z":"ae0292ff.726de","name":"reset mode 3","server":"969e9e50.88897","version":1,"debugenabled":false,"protocol":"http","method":"post","path":"states/input_boolean.orcon_mode_3","data":"{\"state\":\"off\"}","dataType":"json","responseType":"json","outputProperties":[],"x":1332,"y":100,"wires":[["8a5f88ee.6f02a8"]]},{"id":"ea18e99a.9b0368","type":"comment","z":"ae0292ff.726de","name":"Speed in HA","info":"","x":1016,"y":60,"wires":[]},{"id":"7c20cf4.ea1403","type":"change","z":"ae0292ff.726de","name":"save flow.orcon_mode","rules":[{"t":"set","p":"orcon_mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":814,"y":100,"wires":[["85f7e94c.3eff98"]]},{"id":"cb7d964d.828df8","type":"switch","z":"ae0292ff.726de","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"orcon_mode","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":645,"y":100,"wires":[["7c20cf4.ea1403"]]},{"id":"8ccbe830.457e78","type":"mqtt in","z":"ae0292ff.726de","name":"","topic":"oron_mcu/mode","qos":"0","datatype":"json","broker":"7527d055.ed7e2","nl":false,"rap":false,"x":460,"y":182,"wires":[["cb7d964d.828df8"]]},{"id":"53bc7050.342f5","type":"comment","z":"ae0292ff.726de","name":"Only send an update state","info":"","x":705,"y":141,"wires":[]},{"id":"7527d055.ed7e2","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","tls":"bbaa4676.58e4c8","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"969e9e50.88897","type":"server","name":"Home Assistant","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"bbaa4676.58e4c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false}]