projects/images_noti_light/co2_noti_light.json
[{"id":"fc546c6ffaa0d24f","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"17481e8d3a375fed","type":"comment","z":"fc546c6ffaa0d24f","name":"vdbrink.github.io","info":"","x":120,"y":40,"wires":[]},{"id":"8aa0cb80810b7fdd","type":"mqtt in","z":"fc546c6ffaa0d24f","name":"CO2 sensor","topic":"/co2/state","qos":"0","datatype":"json","broker":"7527d055.ed7e2","nl":false,"rap":false,"inputs":0,"x":130,"y":240,"wires":[["7e81b6c824375439"]]},{"id":"7e81b6c824375439","type":"switch","z":"fc546c6ffaa0d24f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1500","vt":"num"},{"t":"gt","v":"1300","vt":"num"},{"t":"gt","v":"1100","vt":"num"},{"t":"lt","v":"950","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":310,"y":240,"wires":[["739d0250c840f155"],["e039daf7f61a7b41"],["019e47c6bcd9d456"],["489d989a54db91b2"]]},{"id":"1a864b1863708770","type":"inject","z":"fc546c6ffaa0d24f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1200","payloadType":"num","x":150,"y":160,"wires":[["7e81b6c824375439"]]},{"id":"9534ac748f7bf6e0","type":"mqtt out","z":"fc546c6ffaa0d24f","name":"CO2 lamp","topic":"zigbee2mqtt/co2lamp/set","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7527d055.ed7e2","x":1080,"y":192,"wires":[]},{"id":"e039daf7f61a7b41","type":"template","z":"fc546c6ffaa0d24f","name":"orange","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"color\":{\"hex\":\"#FF8606\"}, \"state\": \"ON\"}","output":"json","x":520,"y":232,"wires":[["d3a546d17f4c2113"]]},{"id":"bb5cddb5a6a0d219","type":"template","z":"fc546c6ffaa0d24f","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"state\": \"OFF\"}","output":"json","x":1090,"y":312,"wires":[["d3a546d17f4c2113"]]},{"id":"739d0250c840f155","type":"template","z":"fc546c6ffaa0d24f","name":"red","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"color\":{\"hex\":\"#FF5002\"}, \"effect\": \"breathe\", \"state\": \"ON\"}","output":"json","x":510,"y":192,"wires":[["d3a546d17f4c2113"]]},{"id":"019e47c6bcd9d456","type":"template","z":"fc546c6ffaa0d24f","name":"yellow","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"color\":{\"hex\":\"#FFC236\"}, \"state\": \"ON\"}","output":"json","x":510,"y":272,"wires":[["d3a546d17f4c2113"]]},{"id":"08a5ba10980c5f31","type":"inject","z":"fc546c6ffaa0d24f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1600","payloadType":"num","x":150,"y":120,"wires":[["7e81b6c824375439"]]},{"id":"5584414effe707e3","type":"template","z":"fc546c6ffaa0d24f","name":"green","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"color\":{\"hex\":\"#06FF06\"}, \"state\": \"ON\"}","output":"json","x":510,"y":312,"wires":[["6b0f1ab5c0585b91","d3a546d17f4c2113"]]},{"id":"6b0f1ab5c0585b91","type":"delay","z":"fc546c6ffaa0d24f","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":660,"y":312,"wires":[["76cfd2d78439d30a"]]},{"id":"d3a546d17f4c2113","type":"rbe","z":"fc546c6ffaa0d24f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":790,"y":192,"wires":[["9534ac748f7bf6e0"]]},{"id":"76cfd2d78439d30a","type":"zigbee2mqtt-get","z":"fc546c6ffaa0d24f","name":"lamp is on","server":"4ec1da88.92f82c","friendly_name":"lamp_co2","device_id":[],"state":"state","enableMultiple":false,"x":830,"y":312,"wires":[["3be1cc50bcbea336"]]},{"id":"3be1cc50bcbea336","type":"switch","z":"fc546c6ffaa0d24f","name":"is ON?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":312,"wires":[["bb5cddb5a6a0d219"]]},{"id":"489d989a54db91b2","type":"zigbee2mqtt-get","z":"fc546c6ffaa0d24f","name":"lamp is ON","server":"4ec1da88.92f82c","friendly_name":"lamp_co2","device_id":"0xe8ca50dd84be0000","state":"state","enableMultiple":false,"x":390,"y":380,"wires":[["e8f528cacb89028a"]]},{"id":"e8f528cacb89028a","type":"switch","z":"fc546c6ffaa0d24f","name":"is ON?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":380,"wires":[["5584414effe707e3"]]},{"id":"41b406349dafd523","type":"inject","z":"fc546c6ffaa0d24f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1200","payloadType":"num","x":150,"y":200,"wires":[["7e81b6c824375439"]]},{"id":"7527d055.ed7e2","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","tls":"bbaa4676.58e4c8","clientid":"node-red-client","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":false,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"4ec1da88.92f82c","type":"zigbee2mqtt-server","name":"mosquitto","host":"mosquitto","mqtt_port":"1883","mqtt_username":"xx","mqtt_password":"xx","mqtt_qos":"0","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"bbaa4676.58e4c8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"m2mqtt_srv.crt","keyname":"m2mqtt_srv.key","caname":"m2mqtt_ca.crt","servername":"","verifyservercert":false},{"id":"124b8b7f8392c356","type":"global-config","env":[],"modules":{"node-red-node-rbe":"","node-red-contrib-zigbee2mqtt":""}}]